.App {
    /*text-align: center;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.customNavbar {
    height: 85px !important;
}

.navbar-brand-title {
    font-size: 22px;
}

.navbar-brand-subtitle {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    color: #222 !important;
    border: 1px solid;
    border-color: #222;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #e0eee0;
    font-size: 16px;
}

.App-body {
    margin-top: 125px;
    margin-bottom: 60px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Currency-form {
    margin-top: 20px;
    padding: 10px;
    background-color: #F0F0F0;
    border: 1px solid;
    border-radius: 10px;
}

.Currency-List {
    margin-top: 20px;
    padding: 0px;
    background-color: #F0F0F0;
    /*border: 1px solid;
    border-radius: 10px;*/
}

.Currency-List-Item {
    background-color: #FAFAFA;
    border: 1px solid;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 190px !important;
}

span.smallText {
    font-size: 14px;
}

nav#appfooter {
    border-radius: 0px;
    margin-bottom: 0px;
}
